[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
name = "aliyun"

[packages]
pymysql = "*"
pyyaml = "*"
flask = "*"
flask-restful = "*"
flask-httpauth = "*"
passlib = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
